:root {
  --red: hsl(7, 99%, 70%);
  --yellow: hsl(51, 100%, 49%);
  --cyan-dark: hsl(167, 40%, 24%);
  /*graphic design text*/
  --blue: hsl(198, 62%, 26%);
  /*phtography text*/
  --cyan: hsl(168, 34%, 41%);
  /*footer*/

  --blue-dark: hsl(212, 27%, 19%);
  --blue-grayish-300: hsl(213, 9%, 39%);
  --dark-grayish-blue-200: hsl(232, 10%, 55%);
  --blue-grayish-100: hsl(210, 4%, 67%);
  --white: hsl(0, 0%, 100%);


  --font-1: "Barlow", sans-serif;
  --font-2: "Fraunces", serif;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

button {
  border: none;
  background: transparent;
}


picture {
  display: flex;
}

.logo {
  fill: var(--cyan-dark);
}

.hidden {
  display: none;
}

.flex {
  display: flex;
}

body {
  font-family: var(--font-1);
  font-weight: 600;
  font-style: normal;
  display: flex;
  flex-direction: column;
  width: 100vw;


  /* =========================== Header */
  &>header {
    display: flex;
    flex-direction: column;
    width: 100%;
    position: relative;

    .bg-image {
      width: 100%;
    }

    /* =========================== Hero section */
    &>.wrapper {
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      padding: 2rem 1.5rem;
      display: flex;
      flex-direction: column;
      gap: 6rem;


      .primary-nav {
        display: flex;
        flex-direction: column;
        gap: 1.5rem;

        .header {
          display: flex;
          justify-content: space-between;

          &>img {
            width: fit-content;
            height: fit-content;
          }

          button {
            background-color: green;
            padding: 0.5rem;
          }
        }

        .nav-wrapper-anchor {
          position: relative;
          width: 100%;

          .nav-wrapper {
            inset: 0;
            flex-direction: column;
            align-items: flex-end;
            position: absolute;

            .nav {
              display: flex;
              width: 100%;
              flex-direction: column;
              background-color: var(--white);
              padding: 2rem;
              align-items: center;
              gap: 2rem;

              li {
                padding: 0.5rem 1rem;

                a {
                  font-size: 1rem;
                  font-weight: 700;
                  color: var(--dark-grayish-blue-200);
                }
              }
            }
          }

          .nav-wrapper::before {
            content: "";
            width: 1.5rem;
            height: 1.5rem;
            border-top: 1.5rem solid transparent;
            border-right: 1.5rem solid var(--white);
          }
        }

      }

      .hero {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2.5rem;

        h1 {
          font-family: var(--font-2);
          font-size: 2.5rem;
          color: var(--white);
          font-weight: 900;
          letter-spacing: 0.3rem;
          text-align: center;
        }
      }
    }

    /* End =========================== Hero section */

  }

  /* End =========================== Header */


  /* =========================== Main */
  &>main {
    display: flex;
    flex-direction: column;
    width: 100%;

    .main-section {
      display: flex;
      flex-direction: column;
      width: 100%;

      picture {
        display: flex;
      }

      .section-image {
        width: 100%;
      }

      .section-content {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 4rem 1.5rem;
        text-align: center;
        gap: 1.5rem;

        h2 {
          font-family: var(--font-2);
          font-weight: 900;
          font-size: 2rem;
        }

        p {
          line-height: 1.7rem;
          font-size: 1.1rem;
          color: var(--dark-grayish-blue-200);
        }

        a {
          font-family: var(--font-2);
          font-weight: 900;
          text-transform: uppercase;
          position: relative;
          width: fit-content;
          padding: 0.15rem 0.4rem;

          span {
            position: relative;
            z-index: 10;
          }
        }

        a::before {
          z-index: 0;
          position: absolute;
          bottom: 0;
          left: 0;
          right: 0;
          content: "";
          height: 0.6rem;
          border-radius: 99999px;
          background-color: var(--yellow);
          opacity: 0.3;
        }
      }
    }

    .main-section--transform-brand {
      .section-content {
        a::before {
          background-color: var(--yellow);
        }
      }
    }

    .main-section--stand-out {
      .section-content {
        a::before {
          background-color: var(--red);
        }
      }
    }

    .main-section-2 {
      display: flex;
      width: 100%;
      position: relative;

      picture {
        display: flex;
      }

      .section-image {
        width: 100%;
      }

      .section-content {
        position: absolute;
        bottom: 0;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 3.5rem 1.3rem;
        text-align: center;
        gap: 1.5rem;
        color: var(--cyan-dark);

        h2 {
          font-family: var(--font-2);
          font-weight: 900;
          font-size: 1.8rem;
        }

        p {
          line-height: 1.7rem;
          font-size: 1rem;
        }
      }
    }

    .main-section-2--graphic-design {
      .section-content {
        color: var(--cyan-dark);
      }
    }

    .main-section-2--photography {
      .section-content {
        color: var(--blue-dark);
      }
    }

    .testimonials-section {
      padding: 4rem 2rem;

      h2 {
        text-transform: uppercase;
        color: var(--dark-grayish-blue-200);
        font-family: var(--font-2);
        font-size: 1.1rem;
        letter-spacing: 0.2rem;
        text-align: center;
        margin-bottom: 2rem;
      }

      ul {
        display: flex;
        flex-direction: column;
        gap: 4rem;

        li:first-child {
          margin-top: 2rem;
        }

        li:last-child {
          margin-bottom: 1.5rem;
        }


        li>figure {
          display: flex;
          flex-direction: column;
          align-items: center;
          gap: 2rem;

          img {
            border-radius: 99999px;
            width: 4rem;
            height: 4rem;
          }

          blockquote {
            text-align: center;
            display: flex;
            flex-direction: column;
            gap: 2rem;

            span {
              color: var(--blue-grayish-300);
              line-height: 150%;
              font-size: 1.1rem;
            }

            footer {
              display: flex;
              flex-direction: column;
              gap: 0.5rem;

              &>cite {
                font-style: normal;
              }

              &>cite:nth-child(1) {
                font-family: var(--font-2);
                color: var(--blue-dark);
                font-size: 1.1rem;
                font-weight: 900;
              }

              &>cite:nth-child(2) {
                font-size: 0.85rem;
                color: var(--blue-grayish-100);
              }
            }
          }
        }

      }
    }

    .gallery {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      width: 100%;

      .gallery-image {
        width: 100%;
        object-fit: contain;
      }
    }
  }

  /* End =========================== Main */



  /* =========================== Footer */
  &>footer {
    padding: 4rem 2.5rem;
    background-color: var(--cyan);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;

    .svg-wrapper {
      display: flex;
      height: fit-content;

      svg {
        width: fit-content;
        height: fit-content;
        scale: 1.4;
      }
    }

    .secondary-nav {
      display: flex;
      flex-direction: column;
      gap: 2rem;
      width: 100%;
      margin-bottom: 3rem;

      ul {
        display: flex;
        font-size: 1.15rem;
        justify-content: space-between;
        width: 100%;

        * {
          color: var(--cyan-dark);
        }

      }
    }

    .social-links {
      display: flex;
      justify-content: center;
      gap: 1.5rem;
      margin-bottom: 1rem;
    }

  }

  /* End =========================== Footer */

}
